CREATE OR REPLACE VIEW TEMP__VIEW__DRUGS as 
SELECT  distinct j.patid, j.date, j.value AS numberTabs, d.tabsPerDay, a.mg as mgPerTab, family, type, j.readcodeId, j.rubricId
FROM            dbo.journalOriginal AS j 
						INNER JOIN dbo.refReadcode AS c ON c.id = j.readcodeId
						left outer join refUnitDosage d on d.unitId = j.unitId
						left outer join refDrugAmount a on a.readcodeId = c.id
						left outer join refDrugType t on a.drugtypeId = t.id
						left outer join refDrugFamily f on f.id = t.familyId
{{query}};

CREATE OR REPLACE VIEW TEMP__VIEW__DRUGS__VALIDATION as 
SELECT        j.patid, j.date AS EntryDate, c.readcode, r.rubric, j.value AS numberOfTabs, d.units AS CodeUnits
FROM            dbo.journalOriginal AS j INNER JOIN
                         dbo.refReadcode AS c ON c.id = j.readcodeId INNER JOIN
                         dbo.refRubric AS r ON r.id = j.rubricId
						left outer join refUnits d on d.id = j.unitId
{{query}};